PDF_PARSER=docling
OUTPUT_DIR=outputs
DOWNLOADS_DIR=C:\Users\299778\Downloads

AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_aws_region_here
BEDROCK_MODEL_ID=your_bedrock_model_id_here

LLM_PROVIDER=bedrock
LLM_TEMPERATURE=0
LLM_MAX_TOKENS=8192
MAX_UPLOAD_MB=25
